#wrapper {
}
.section {
    padding: 30px 0;
    .button {
        min-width: 200px;
    }
    @media @xs {
        // padding: 15px 0;
    }

    @media @sm {
        // padding: 20px 0;
    }
    @media @md-min {
        padding: 40px 0;
    }
}
.section-bg {
    background-position: center;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .65);
        z-index: 1;
    }
    > .container {
        position: relative;
        z-index: 10;
    }
}
.section-header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    .section-name {
        line-height: 1;
        margin: 0;
        position: relative;
        // &:after {
        //     content: '';
        //     display: block;
        //     width: 80px;
        //     border-bottom: 2px solid;
        //     margin-top: .2em;
        // }
    }
    &.no-line {
        .section-name {
            &:after {
                display: none;
            }
        }
    }
    .meta {
        color: @color-text;
        font-size: 2rem;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 10px;
        }
        a {
            color: @color-text;
            text-decoration: none;
            &:hover {
                color: @color-black;
            }
        }
    }
    @media @xs {}
    @media @xs-half {
        margin-bottom: 15px;
    }
}
.header-center {
    text-align: center;
    .section-name {
        
    }
}
.section-name {
    color: #000;
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    display: inline-block;
    img {
        margin-top: -.2em;
    }
    @media @sm {
        font-size: 2.6rem;
    }
    @media @xs {
        font-size: 2.2rem;
    }
    @media @xs-half {
        font-size: 2rem;
    }
    @media @md-min {
        
    }
}

.section-content {
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: center;
    a {
        color: @color-text;
        // text-decoration: underline;
        text-decoration: none;
        border-bottom: 1px solid;
        display: inline-block;
        line-height: 1;
        &:hover {
            color: darken(@color-text, 20%);
            text-decoration: none;
        }
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
    @media @md-min {
        font-size: 1.8rem;
    }
}

.page-header {
    padding-bottom: 0;
    margin: 10px 0 20px;
    border-bottom: none;
    text-align: center;

    @media @lg {
        margin-top: 0;
    }
}
.page-heading {
    color: @color-heading;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;

    @media @xs {

    }
    @media @sm {
        font-size: 24px;
    }
    @media @md {
        font-size: 26px;
    }
    @media @lg {
        font-size: 28px;
    }
}
.page-content {
    font-size: 1.8rem;
    // font-family: @font-content;
    line-height: 1.2;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
        line-height: 1.6;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }
    h5,
    h6 {
        font-size: .8em;
    }
    p {
        margin-bottom: 1em;
    }
    b, strong {
        font-weight: 900;
    }
    img {
        max-width: 100%;
        height: auto !important;
    }
    iframe {
        max-width: 100%;
    }
    a {
        // color: darken(@color-text, 10%);
        text-decoration: none;
        &:hover { 
            // color: darken(@color-text, 20%);
        };
    }
    @media @md-min {
        // font-size: 1.8rem;
    }

    @media @xs {
        font-size: 1.4rem;
        line-height: 1.4;
        iframe {
            width: 100vw;
            height: 56.25vw;
            max-width: 100%;
        }
    }
}
.section-action {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
