<template>
  <base-container>
    <a-card class="report__container">
      <section class="report__form">
        <h2 class="report__title">
          แจ้งปัญหาการใช้งาน
        </h2>
        <p class="report__description">
          สามารถแจ้งปัญหาการใช้งานได้ที่เกิดขึ้นได้ช่องทางต่อไปนีี้
        </p>
        <div class="report__field">
          <label class="report__field-label">ประเภทของปัญหา: </label>
          <a-select
            default-value="farm"
            class="w-200px"
          >
            <a-select-option value="farm">
              ฟาร์ม
            </a-select-option>
            <a-select-option value="other">
              อื่นๆ
            </a-select-option>
          </a-select>
        </div>
        <div class="report__field">
          <label class="report__field-label">วันที่พบปัญหา: </label>
          <a-date-picker
            placeholder="วันที่พบปัญหา"
            class="w-200px"
          />
        </div>
        <div class="report__field">
          <label class="report__field-label">เวลาที่พบปัญหา: </label>
          <a-time-picker
            use12hours
            format="h:mm A"
            placeholder="เวลาที่พบปัญหา"
            class="w-200px"
          />
        </div>
        <div class="report__field al-it-initial">
          <label class="report__field-label">รายละเอียด: </label>
          <a-textarea
            :rows="4"
            placeholder="รายละเอียด"
            class="w-200px"
          />
        </div>
      </section>
      <section class="report__buttons">
        <a-button class="oa-button mg-r-18px">
          ยกเลิก
        </a-button>
        <a-button class="oa-button is-primary">
          บันทึก
        </a-button>
      </section>
    </a-card>
  </base-container>
</template>

<script>
export default {
  name: 'ReportPage',
  layout: 'gray-background'
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.report {
  &__container {
    margin: 21px 0;
  }
  &__form {
    padding-bottom: 70px;
    .end-line();
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 10px;
    .end-line();
  }
  &__description {
    font-weight: 300;
    padding-left: 33px;
  }
  &__field {
    display: flex;
    align-items: center;
    &:not(:first-child) {
      padding-top: 11px;
    }
    &-label {
      text-align: right;
      min-width: 135px;
      font-size: 1.5rem;
      margin-right: 20px;
    }
  }
  &__buttons {
    padding-top: 37px;
    display: flex;
    justify-content: flex-end;
  }
}
.w-200px {
  width: 200px;
}
.al-it-initial {
  align-items: initial;
}
</style>
